body {
    background-color: whitesmoke;
    /* margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

ul.list-item {
    padding: 0;
    list-style-type: none;
    background-color: white;
    margin: 2rem;
    box-shadow:4px 4px 4px gray;
}

ul.list-item li {
    height: 5rem;
    border-style: solid;
    border: 0.25px solid grey;
}

.list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px
}

ul.list-item li p{
    display: inline;
}

ul.list-item li img{
    float:right
}
  
/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
   */