body {
    margin: 0;
    font-family:'Lato', sans-serif;    
    background-color: #ffffff;
    }

.card {
    background-color: rgb(0, 0, 0);
    padding: 0.8rem;
    width: 30%;
    border: 0.25px solid rgb(0, 0, 0);
    /* box-shadow:4px 4px 4px rgb(109, 109, 109); */
    border-radius: 5px;
    color:white
}
.form-prod {
    border-style: none;
    border: 1px solid rgb(255, 255, 255);
        
}
.button-prod{
    background-color: rgb(255, 255, 255);
    border-style: none;
    color: rgb(0, 0, 0);   
    font-size: 14px;
}

.header-cont {
    background-color: black;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 10px; 
    justify-content: space-between;
   }
   
.header-logo {
    width: 25%;
   }

.logo{
    width: 40%;
    display: block;
    margin-right: 10px;
    margin-left: 30px;
    padding: 0px 10px 10px 15px;
}

.m-1 {
    margin: 0.4rem;
}

.m-2 {
    margin: 0.8rem;
}

.m-3 {
    margin: 1.2rem;
}

.m-4 {
    margin: 1.6rem;
}

ul.list-item {
    width: 40%;
    padding: 5px;
    list-style-type: none;
    background-color: white;
    margin: 2rem;
    box-shadow:4px 4px 4px gray;
    border-radius: 2%;
    border: 0.25px solid rgb(0, 0, 0);
}



.list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px
}

ul.list-item li p{
    font-weight: bolder;
    display: inline;
}

ul.list-item li img{
    float:right
}